@import url('https://fonts.googleapis.com/css2?family=Source+Sans+Pro:ital,wght@0,400;1,700&display=swap');

* {
    margin: 0;
    box-sizing: border-box;
}

html, body {
    font-family: 'Source Sans Pro', sans-serif;
    font-size: 16px;
}

body {
    background-image: url("../images/forrest3.jpg");
    background-repeat: no-repeat;
    /* background-attachment: fixed; */
    background-size: cover;
    background-position: center;
}

a {
    color: #B25538;
    text-decoration: none;
    font-weight: bold;
}

a:hover {
    color: #E0A810;
    transition: all ease 2s;
}



/* ----- grid ----- */

.container {
    max-width: 1020px;
    min-width: 360px;
    width: 100%;
    margin: 0 auto;
}

.row {
    margin: 0 2.5%;
}

/* ----- grid-end ----- */

/* ----- header ----- */

header {
    margin-top: 3em;
}

.logo {
    width: 205px;
    margin-right: 18%;
}

nav {
    display: inline-block;
    /* margin: 0 30px; */
    position: relative;
    top: -0.25em;
}

nav a {
    margin: 0 17px;
}

nav a:first-of-type {
    margin-left: 0;
}

.card {
    width: 55px;
    float: right;
    position: relative;
    top: -0.8em;
}

input {
    width: 30%;
    height: 30px;
    padding: 15px;
    margin: 2.5em 0;
    color: #fff;
    background-color: #B25538;
    border-radius: 8px;
    outline: none;
    border: none;
}

.search {
    width: 19px;
    color: #fff;
    line-height: 30px;
    position: relative;
    left: -30px;
}

/* ----- header end ----- */

/* ----- animals ----- */

.animalsWrap {
    max-width: 1200px;
    margin: 0 auto;
}


.animalsInner {
    margin-bottom: 4.5em;
}

.animalsInner:nth-child(2n + 1) {
    margin-bottom: 10em;
    position: relative;
    top: -24em;

    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-around;
    align-content: stretch;
    align-items: flex-start;
}

.animalsInner:nth-child(2n + 1) svg {
    margin: 0 2em;
}

.animalsInner:nth-child(2n) {
    position: relative;
    top: -10em;

    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-between;
    align-content: stretch;
    align-items: flex-start;
}

#cardina {
    position: relative;
    top: -30px;
}

#woody {
    position: relative;
    top: 15px;
}

#racoon {
    position: relative;
    top: -5px;
}

#wolf {
    position: relative;
    top: 55px;
}

#bear {
    position: relative;
    top: 55px;
}

#bunny {
    position: relative;
    top: 25px;
}

 svg:hover {
    color: white;
    opacity: 0.5;
    text-shadow: 10px 10px 20px #000000;
    transition: all ease 0.5s;
}

.description {
    background-color: #B25538;
    color: #fff;
    padding: 1em 0;
    margin: 3em 0 30em 0;
}

h2 {
    margin-bottom: 0.5em;
}

/* ----- footer ----- */

footer {
    margin-top: 1em;
}

.leftCol, .rightCol {
    width: 50%;
    display: inline-block;
    margin-bottom: 3em;
}

footer .logo {
    margin: 0;
}

.rightCol {
    float: right;
    text-align: right;
}

.socialNetworks {
    margin-top: 1em;
}

.socialNetworks img{
    width: 32px;
    margin-right: 30px;
}

.socialNetworks img:hover {
    opacity: 0.5;
    transition: all ease 0.5s;
}

a + p {
    color: #fff;
    font-size: 0.75em;
    margin-top: 1.5em;
}
 